.BoutonFondRouge {
    background-color: #a74d4d;
}

.BoutonFondVert {
    background-color: #1d611a;
}

.invalidBox {
    background: #FF0101;
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black, -2px 2px black;
}

.badgeList {
    width: 100%;
}

.table {
    font-size: 20px;
}

.truncated {
    min-width: 0;
    width: 8rem;
}

.truncated span {
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 12px;
    text-align: justify;
}