.BoutonFondRouge {
    background-color: #a74d4d;
}

.BoutonFondVert {
    background-color: #1d611a;
}

.invalidBox {
    background: #FF0101;
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black, -2px 2px black;
}

.table {
    font-size: 20px;
}

.truncated {
    min-width: 0;
    width: 8rem;
}

.truncated span {
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 12px;
    text-align: justify;
}
.createInfos{
    font-size: 10px;
}
.Upload{
    font-size: 12px;
}



@media only screen and (max-width: 768px) {
#newMessage{
    width:100%;
}
.boutons{
    flex-direction: column;
}
.Upload{
    order:1;
}
.Publier{
    order:2;
}
.Annuler{
    order:3;
}
.truncated {
    min-width: 0;
    width: auto;
}
p{
    font-size: 12px;
}
button{
    font-size: 12px;
}
.btnSupp{
    font-size: 12px;
}
.adminTitle
{
    font-size: 12px;
}
}

